
.helvetica{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.descrip{
    font-size: 18px;
    line-height: 2;
}
.notable{
    font-family: 'Notable', sans-serif;
}
.teko{
    font-family: 'Teko', sans-serif, normal;    }
.mteko{
    font-family: 'Teko', sans-serif, medium;    
    font-size: 20px;
}
header{
    background-color: white;
    display: flex;
    /* outline: 1px solid; */
    height: 70px;
    
}
.logo{
    width: 25%;
    justify-content: flex-start;
    align-items: center;
}
.mylogo{
    height: 45px;
}
.fourlinks{
    width: 80%;
   justify-content: flex-end;
   /* outline: 1px solid; */
   margin-right: 30px;
}


.flex-Container{
    display: flex;
    align-items: center;
}
.left{
    float: left;
    width: 30%;
    padding-left: 220px;
  
    /* outline: 1px red solid; */
}
.bold{
    font-weight: bold;
}
.colgreen{
    color: green;
}
.right{
    float: left;
    width: 40%;
    font-size: 72px;
    color: white;
    padding-top: 80px;
    padding-left: 90px;
}
.hero{
    height: 500px;
    background-color: #e1f3eb;
    background-image: url(images/hero.png);
}
.rectangle{
    height: 5px;
    width: 400px;
    background-color: white;
}

.content{
    height: 400px;
    text-align: center;
}


.herotag{
    font-size: 60px;
    color: #adadad;
}

.inline-block{
    padding: 25px; 
    
}

.logo{
    margin-left: 50px;
}




.getincontact{
    font-size: 60px;
    color: #9cccb7;
    /* outline: 1px red solid; */
}

.social{
    /* outline: 1px blue dotted; */
    display: inline-block;
}

.slinks{
    padding: 20px;
    display: inline-block;
    
}
footer{
   text-align: center;
    background-color: white;
    /* outline: 1px red solid; */
}
.ojbar{
    background-color: #fdd502;
    outline: 1px yellow solid;
    height: 20px;
}


.copyright{
    padding: 10px;
    background-color: #e1f3eb;
    
}
